@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&family=Phudu:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap');
:root {
    --colorPrincipal: rgb(255, 217, 2);
}
/*Estilos para etiquetas*/
body {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

ul li {
    list-style: none;
}

span {
    color: var(--colorPrincipal);
}

a {
    text-decoration: none;
    color: black;
}



footer {
    margin-top: 20px;
}

/*--------------------------------------------*/
.flecha {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}

#imgFlecha {
    width: 40px;
}

/*BANNER PRINCIPAL */
.principal {
    height: 600px;
    text-align: center;
    align-items: center;
    position: relative;
}

.principal h2 {
    text-transform: uppercase;
    font-weight: 500;
    align-items: center;
    font-size: 40px;
    width: 280px;
    color: white;
    text-align: center;
}

.principal h3 {
    color: var(--colorPrincipal);
}

#principal {
    background-image: linear-gradient(rgba(10, 25, 74, 0.534),
            rgba(15, 18, 92, 0.566)), url(./img/5006ea02-d490-4848-a1a8-09fe59afd30f.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    z-index: -1;
    height: 650px;
}

.banner {
    margin-top: -40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*------------------------------------------------*/
/* HABILIDADES ICONOS */
.habilidades {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
    grid-template-areas:
        "html nada mysql nada1 css"
        "nada3 js bs nada9 nada2"
        "git nada4 node  nada5 sass";
}

.mysql {
    grid-area: mysql;
}

.html {
    grid-area: html;
}

.css {
    grid-area: css;
}

.js {
    grid-area: js;
}

.bootstrap {
    grid-area: bs;
}
.node {
    grid-area: node;
}

.mysql img {
    width: 100px;
}

.card-habilidades img {
    margin-top: 22%;
    transition: .5s ease-in-out;
}

.card-habilidades:hover img {
    transform: rotate(360deg) scale(1.5);

}

.card-habilidades {
    height: 180px;
    width: 180px;
    box-shadow: 1px 1px 15px rgb(255, 217, 2);
    border: .5px solid rgba(128, 128, 128, 0.111);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.932);
}
.skills h2 {
    color: #fff;
    margin-top: 10vh;
}
.card-habilidades i {
    margin-top: 22%;
    transition: .5s ease-in-out;
}

.card-habilidades:hover i {
    transform: rotate(360deg) scale(1.5);

}

.cartel {
    margin-left: 13%;
    box-shadow: 0px 0px 2px grey;
    background-color: rgba(255, 196, 1, 0.801);
    color: white;
    font-weight: 300;
    width: 100px;
    border-radius: 5px;
    position: absolute;
    opacity: 0;
    transition: opacity 1.2s;

}

.card-habilidades:hover .cartel {
    transition: 1.2s;
    opacity: 1;
}

.git {
    grid-area: git;
}

.sass {
    grid-area: sass;
}
.node {
    grid-area: node;
}

.fa-brands {
    font-size: 100px;
    margin-top: 20px;
}

.perfil {
    width: 250px;
    height: 250px;
    box-shadow: 2px 8px 10px rgba(255, 255, 255, 0.726);
    border-radius: 50%;
}

/*-------------------------------------------------------*/


/*-----------------------------------------------*/
/*SOBRE MI*/
.sobre-mi {
    text-align: start;
    font-weight: 300;
    transition: .5s;
}
.sobreMi-diagonal::after {
    position: relative;
    top: 100%;
    left: 0;
    content: '';
    height: 0;
    width: 0;
    border-right: 100vw solid white;
    border-bottom: 4vw solid transparent;
    border-top: 0px solid transparent;
    overflow: hidden;
}
.sobreMi-diagonal-down {
     position: relative;
    top: 100%;
    left: 0;
    content: '';
    height: 0;
    width: 0;
    border-left: 100vw solid rgb(255, 255, 255);
    border-top: 4vw solid transparent;
    border-bottom: 0px solid transparent;
    overflow: hidden;
}
.card-sobre-mi span {
    color: black;
    transition: .6s;
}
.card-sobre-mi:hover span {
    color: var(--colorPrincipal);
}
.card-sobre-mi {
    text-align: start;
    margin: 10px;
    padding: 15px;
    border-radius: 7px;
    padding-top: 0px;
    box-shadow: 1px 1px 8px rgba(128, 128, 128, 0.725);
    width: 65%;
    margin-left: 13%;
    position: relative;
    transition: .5s;
}
.card-sobre-mi:hover {
    transform: scale(1.04);
}
.card-sobre-mi h2 {
    position: relative;
    transition:.5s;
}

.card-sobre-mi:hover h2 {
    color: white;
}
.card-sobre-mi ul li {
    transition: 1s;
}
.card-sobre-mi:hover ul li {
    color: white;
}

.card-sobre-mi ul {
    position: relative;
    display: flex;
    flex-direction: column;

}

.card-sobre-mi ul li {
    padding: 13px;
    font-size: 17px;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circle::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    clip-path: circle(50px at 99% 10px);
    transition: .9s;
}

.card-sobre-mi:hover .circle:before {
    clip-path: circle(1600px at center);

}

.lista-sobre-mi li {
    font-weight: 300;
}

/*-------------------------------------------------------------*/

/*PROYECTOSS*/

.container-proyecto {
    width: 100% !important;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 80px;

}
.card1 {
    background-image: url(./img/ReTurn.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card2 {
    background-image: url(./img/becashopPc.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card3 {
    background-image: url(./img/BecaDesignPc.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lista-tec {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.lista-tec ul {
    display: flex;
    opacity: 0;
    transition: .3s;
}
.lista-tec ul li {
    margin: -20px;
    transition: .3s;
    border-radius: 50%;
    background-color: #ffffffea;
    width: 60px;
    height: 60px;
}
.lista-tec ul li i {
    font-size: 40px;
    margin-top: 11px;
}
.cardProyect{
    transition: .2s;
    border-radius: 10px;
    position: relative;
    width: 500px;
    height: 300px;
}
.cardProyect:hover .lista-tec ul {
    opacity: 1;
    transform: translateY(60px);
}
.cardProyect:hover .lista-tec ul li {
    margin: 0px;
}
.cardProyect:hover .lista-beca {
    margin-left: 0;
}

.cartel-proyecto {
    opacity: 0;
    color:white;
    background-color: rgba(0, 0, 0, 0.658);
    border-radius:4px;
    font-size: 100;
    width: 90%;
    transition: .2s;

}
.cardProyect:hover .cartel-proyecto{
    transform: translateY(50px);
    opacity: 1;
}

/*---------------------------------------------------------------------*/

/*HEADER NAV*/
.header span {
    color: #fff;
}

.logoNombre a {
    color: white;
}

.logoNombre {
    font-size: 19px;
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
}

.navbar-list {
    display: none;
    width: 100%;
}

.header i {
    font-size: 26px;
    width: 26px;
    color: var(--colorPrincipal);
    display: none;
}

.colorNavMov {
    background-color: #fff;
    box-shadow: 0px 8px 10px grey;
    transition: 0.7s ease;
    z-index: 100;
}

/*-------------------------------------------*/

.background-skills {
    background-image: linear-gradient(rgba(41, 41, 102, 0.534),
    rgba(25, 25, 32, 0.566)), url(./img/Close_up_photo_of_keyboard-Brand_HD_Wallpaper_1366x768.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*--------------------------------------------*/
.menu li {
    margin-right: 70px;
}

.menu a {
    position: relative;
    display: block;
    padding: 5px;
    font-size: 19px;
}

.menu a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ffe600, #d8bb19, #ffb109);
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}

.menu a:hover::before {
    transform: scaleX(1);
}


/* ANIMATIONS*/
.menu[data-animation="to-left"] a::before {
    transform-origin: right;
}

.menu[data-animation="center"] a::before {
    transform-origin: center;
}

.menu[data-animation="bonus"] a::before {
    transform-origin: right;
}

.menu[data-animation="bonus"] a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.82, 0.94);
}

.subrayado-ul {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ffe600, #d8bb19, #ffb109);
    z-index: 1;
    transform: scaleX(1);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
}
.formulario {
    width: 100vh;
    border: none;
    height: 400px;
}
#contacto {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
footer {
    margin-bottom: 20px;
}
.scrollTop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 90%;
    left:  95%;
    width: 50px;
    height: 50px;
    background-color: var(--colorPrincipal);
    border-radius: 50%;
    display: none;
    transition: .5s;
    box-shadow: 2px 5px 9px rgba(0, 0, 0, 0.548);
}
.scrollTop i {
    font-size:  24px;
}
.flecha img {
    margin-bottom: 20px;
}
#custom-btn {
    border: none;
    background-color: #ffb109;
    border-radius: 50%;
    position:absolute;
    width: 70px;
    height: 70px;
    color: #fff;
    padding: 10px 25px;
    opacity: 0;
    transition: .3s;
}
#custom-btn i {
    font-size: 20px;
}
.cardProyect:hover #custom-btn {
    opacity: 1;
}
@media screen and (max-width: 420px){
    .cartel-proyecto {
    width: 100%;
    }
    .lista-tec ul li {
        width: 50px;
        height: 50px;
    }
    .lista-tec ul li i {
        font-size: 35px;
    }
    .cardProyect:hover .lista-tec ul li {
        margin: 0px;
    }
    .cardProyect:hover .lista-beca {
        margin-left: -40px;
    }
    .card1 {
        background-size: cover;
    }
    .card2 {
        background-size: cover;
    }
    .cardProyect {
        position: relative;
    }
    #custom-btn {
        position: absolute;
        top: -10px;
        right: -10px;
    }
    .formulario {
        width: 100%;
    }
    .card-habilidades i {
        font-size: 68px;
    }
    
    .habilidades {
        display: grid;
        grid-template-columns: repeat(4, 200px);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 20px;
        grid-template-areas:
            "html css"
            "js bs"
            "sass git"
            'mysql node';
    }
    .card-habilidades img {
        width: 68px;
    }
    .card-habilidades {
        width: 100px;
        height: 100px;
    }
    .card-sobre-mi {
        width: 95%;
        margin-left: 0;
    }
    .logoNombre {
        width: 200px;
        margin-left: -50px;
        margin-top: 10px;
    }
    .navbar-list {
        position: absolute;
    }
    .navbar-opciones {
        z-index: 999999999;
    }
}
@media screen and (min-width:600px) {
    .navbar-opciones {
        color: var(--colorPrincipal)!important;
    }
    .cardProyect {
        position: relative;
    }
    #custom-btn {
        position: absolute;
        top: -10px;
        right: -10px;
    }
}
@media screen and (max-width: 600px) {
    .navbar-list {
        position: absolute;
    }
    .cardProyect {
        position: relative;
    }
    #custom-btn {
        position: absolute;
        top: -10px;
        right: -10px;
    }
    .card1 {
        background-size: cover;
        width: 100%;
    }
    .card2 {
        background-size: cover;
    }
    #contacto {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        justify-content: space-around;
    }
    body {
        overflow-x: hidden;
    }

    #principal {
        height: 500px;
        width: 100%;
    }

    .principal h2 {
        color: white;
        text-align: center;
        margin-top: -10px;
    }

    .principal h3 {
        margin-top: -30px;
    }

    .banner {
        margin-top: -5px;
    }

    .visible {
        color: black;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        transition: .5s;
    }

    .navbar-list {
        background-color: white;
        margin-top: 0;
        height: 400px;
        transition: .5s;
    }

    .navbar-list li {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .navbar-list li a {
        color: black;
        letter-spacing: 1px;
        z-index: 100000;
    }

    .logo {
        position: absolute;
        top: 0;
        width: 150px;
        color: white;
        z-index: 2;
        margin-left: 70%;
    }

    .logo span {
        color: var(--colorPrincipal);
    }

    .menu-icon {
        width: 40px;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .header i {
        display: flex;
        font-size: 29px;
    }

    .header {
        z-index: 99999;
        height: 60px;
        width: 100%;
        transition: .7s;
        margin-left: 0;
    }

    .contenedor-menu {
        margin-left: -7px;
        height: 200px;
    }

    .toggle-menu {
        padding: 10px;
    }
    .habilidades {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 60px;
    }
    #skills {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }


    .img-qr img {
        width: 250px;
        border-radius: 8px 8px 0 0;
        text-align: center;
    }

    .img-qr {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    .titulo-qr {
        display: flex;
        justify-content: center;
    }
    .formulario {
        width: 100%;
        margin-left: 0px;
    }
    .form-google {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .scrollTop {
        left: 85%;
    }
    
}

@media screen and (min-width: 601px) and (max-width: 1100px) {
    body {
        overflow-x: hidden;
    }
    .cardProyect {
        position: relative;
    }
    #custom-btn {
        position: absolute;
        top: -10px;
        right: -10px;
    }
    #contacto {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    #skills {
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .habilidades {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 60px;
    }

    .header i {
        display: none;
    }

    .header {
        display: flex;
        justify-content: space-between;
    }


    .navbar-list li {
        margin-right: 30px;
    }

    .navbar-opciones {
        color: white;
        position: relative;
    }

    .logoNombre span {
        color: rgb(255, 217, 2);
    }

    #principal {
        border: 1px solid white;
    }

    .colorLogo {
        color: #000;
    }

    .skills {
        margin-left: 5%;
    }

    .img-qr img {
        width: 350px;
        border-radius: 8px 8px 0 0;
        text-align: center;
    }

    .img-qr {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;
    }

    .titulo-qr {
        display: flex;
        justify-content: center;
    }
    .form-google {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .scrollTop {
        left: 90%;
    }
    #navbar-list1 {
        display: flex;
    }
}

@media screen and (min-width: 950px) {
    .cardProyect {
        position: relative;
    }
    #custom-btn {
        position: absolute;
        top:-20px;
        right: 40px;
    }
    .img-qr img {
        width: 350px;
        border-radius: 8px 8px 0 0;
        text-align: center;
    }

    .img-qr {
        display: flex;
        justify-content: center;
        margin: 40px 30px;
    }

    .titulo-qr {
        display: flex;
        justify-content: center;
    }

    .form-contacto {
        display: flex;
    }

    /* HABILIDADES ICONOS */
    #skills {
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .habilidades {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 60px;
    }

    .html {
        grid-area: html;
    }

    .css {
        grid-area: css;
    }

    .js {
        grid-area: js;
    }

    .bootstrap {
        grid-area: bs;
    }

    .card-habilidades {
        height: 180px;
        width: 180px;
        margin: 5px;
        box-shadow: 1px 1px 7px rgba(255, 217, 2, 0.904);
        border: .5px solid rgba(128, 128, 128, 0.111);
        border-radius: 50%;
    }

    .card-habilidades h3 {
        margin-top: -3px;
    }

    .git {
        grid-area: git;
    }

    .sass {
        grid-area: sass;
    }

    .fa-brands {
        font-size: 100px;
        margin-top: 20px;
    }

    .perfil {
        width: 250px;
        height: 250px;
        box-shadow: 1px 1px 6px var(--colorPrincipal);
        border-radius: 50%;
    }
    .scrollTop {
        left: 93%;
    }
}

@media screen and (min-width: 1101px) {
    .cardProyect {
        position: relative;
    }
    #custom-btn {
        position: absolute;
        top: -10px;
        right: -10px;
    }
    #skills {
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .habilidades {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
            "html nada3 git nada2 css"
            " nada1 js nada4 sass nada5 "
            "mysql nada8 node nada7 bs";
    }

    .navbar-list li {
        margin-right: 60px;
    }

    .navbar-list {
        display: flex;
    }

    .navbar-opciones {
        color: white;
    }

    .logoNombre span {
        color: var(--colorPrincipal);
    }

    .sobre-mi {
        display: flex;
        margin: 0px;
        height: 500px;

    }

    .card-sobre-mi {
        margin: 0;
        margin: 3%;
    }
    #skills {
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .form-contacto {
        width: 100vh;
        display: flex;
        margin-left: 0;
    }
}

@media screen and (min-width: 1300px) {
    .cardProyect {
        position: relative;
    }
    #custom-btn {
        position: absolute;
        top: -10px;
        right: -10px;
    }
    body {
        overflow-x: hidden;
    }

    #principal {
        height: 750px;
    }

    .subrayado-ul {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(to right, #ffe600, #d8bb19, #ffb109);
        z-index: 1;
        transform: scaleX(1);
        transform-origin: left;
        transition: transform 0.5s ease-in-out;
    }
}

@media screen and (min-width: 1600px) {
    .cardProyect {
        position: relative;
    }
    #custom-btn {
        position: absolute;
        top: -10px;
        right: -10px;
    }
    body {
        overflow-x: hidden;
    }

    .cartel {
        margin-left: 10%;
    }

    #principal {
        height: 950px;
    }
}